

.article {
    padding-top:30px;
    padding-bottom: 60px;
}

.article_title {
    padding-top:20px;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 10px;
}

.products {
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.products > .images {
    background-color: transparent;
    box-sizing: border-box;
    width: 190px;
    height: 190px;
    margin: 0 auto;
}

.products > .images > a > img {
    box-sizing: border-box;
    width: 190px;
    height: 190px;
}

.products > a {
    text-decoration: none;
    color: black;
}

.products > a:hover {
    text-decoration: none;
    color: black;
}

.products > .price {
    color: red;
    bottom: 0;
}

.child_column_4 {
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}

.child_column_4:hover {
    box-shadow: 0 1px 3px rgb(7 255 40 / 70%);
}

.description > span {
    text-align: end;
    font-size: 12px;
}

/* nav bar */

.navbar > .wrapper {
    padding-top: 20px;
    background-color: gray;
    padding-bottom: 20px;
}

.navbar > .wrapper > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: gray;
}

.navbar > .wrapper > h2 {
    text-align: center;
    margin-bottom: 10px;
}

.navbar > .wrapper > ul > li > a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.navbar > .wrapper > ul > li > a:hover {
    background-color: white;
    color: black;
}