body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);
}

* { 
    margin: 0;
    font-family: Montserrat-Regular;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

.wrapper {
    position: relative;
    top: 80px;
    width: 100%;
    height: 100%;
}

.wrapper > .content {
    margin: auto;
    margin-top: 40px;
    padding:30px;
    background-color: white;
    width: 300px;
    height: 200px;
    text-align:center;
    align-items: center;
    position: relative;
    border-radius: 20px;
}

