/* reset css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #c0e1d1;
    font-family: 'Noto Sans', sans-serif;
}


hr{
    border: 1px solid #ccc;
    opacity: 0.6;
}

table { 
    border-collapse: collapse; 
}

tr{
    border-bottom:  1px solid #e5dfdf;
}

/* body contain */
#body-contain{
    padding: 15px;
}
#body-contain .hello{
    padding-top: 42px;
    color : #333333;
}

/* content */
#content {
    width: 100%;
    padding: 15px;
    margin: 15px 0px 15px 0px;
    background-color: white;
    border-radius: 5px;
}

.header{
    color : #333333;
}

.color-text{
    color : #9c9c9c;
}

/* search */
.content-search{
    position: relative;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    display: flex;
    margin-bottom: 30px;
}

.content-search i{
    font-size: 25px;
}

.search{
    border: 0px;
    border-bottom:  1px solid #e5dfdf;
    border-radius: 5px;
    width: 600%;
    height: 25px;
    color: gray;
    opacity: 0.8;
    text-align: center;
}

.search:focus{
    outline: 0;
}

.content-search .add{
    
}

.content-search .add a{
    width: 15%;
    border-bottom: 1px solid #e5dfdf;
    display: flex;
    position: absolute;
    right: 0;
}

.content-search .add a:hover {
    color: rgba(0,0,0,0.7);
}

.add a{
    color: #9c9c9c;
    text-decoration: none;
}

/* content table */
#content-table{
    text-align: center;
    width: 98%;
    border: 0.5px solid #e5dfdf;
}

#content-table img{
    width: 30%;
}

#content-table .content-table-id{
    width: 5%;
}

#content-table .content-table-name{
    width: 15%;
}

#content-table .content-table-manufactor{
    width: 30%;
}

#content-table .content-table-img{
    width: 40%;
}

#content-table .content-table-fix{
    width: 5%;
}

#content-table .content-table-delete{
    width: 5%;
}

.table-a-delete,
.table-a-fix{
    color: #9c9c9c;
    text-decoration: none;
}

.table-a-fix:hover,
.table-a-delete:hover{
    color: rgba(0,0,0,0.7);;
}

/* footer */
#footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

#footer a{
    text-decoration: none;
}

#footer .page{
    width: 25px;
    margin: 5px;
    border-radius: 50%;
    background-color: #e5dfdf;
}

#footer .page:hover{
    background-color: aqua;
    color: white;
}